# Do not store DS_Store files.
.DS_Store

# No environment files.
.env

# No Log giles should be present in the commits.
*.log

# No audio files should be present in the commits. 
*.wav
*.mp3
*.aac
*.flac
*.ogg
*.m4a
*.wma
*.aiff
*.au
